{{> heads}}
    <div class='container'>
        <div class='row mb-5'>
            <div class='col-6 offset-3'>
                <form method='post' action='/sign-in'>
                    <h1 class='mt-3'>Sign In</h1>
                    <div class="mb-3 mt-3">
                        <label for="address" class="form-label">Login</label>
                        <input type="text" class="form-control" id="address" placeholder="0x00...">
                        <div id="addressHelp" class="form-text">Binance Smart Chain (BSC) blockchain account address</div>
                    </div>
                    <div class="mb-1 mt-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                        <div id="passwordHelp" class="form-text">Chain Dating Layer 2 password</div>
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Sign In</button>
                </form>
            </div>
        </div>
    </div>
{{> foots}}